.customFileWrap {
    width: 100%;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.customLabel {
    font-size: 14px;
    margin-bottom: 5px;
}

.customInput {
    display: block;
    font-size: 12px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
}