.customFileWrap {
    width: 100%;
}

.hidden {
    display: none;
}

.customLabel {
    font-size: 14px;
    margin-bottom: 5px;
}

.customFileInput {
    display: block;
    cursor: pointer;
    font-size: 12px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    background: #fff;
}