.customFileWrap {
    width: 100%;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.customLabel {
    font-size: 14px;
    margin-bottom: 5px;
}

.customFileInput {
    display: block;
    cursor: pointer;
    font-size: 12px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background: #fff;
    color: #000;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0px 4px 25px 0px #1111110A;
    border: 1px solid #10BA9A;
}